<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>day23_01_netstore</display-name>

	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>cn.wang.filter.SetCharacterEncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>PrivilegeFilter</filter-name>
		<filter-class>cn.wang.filter.PrivilegeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrivilegeFilter</filter-name>
		<url-pattern>/manage/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ManageServlet</servlet-name>
		<servlet-class>cn.wang.web.controller.ManageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ClientServlet</servlet-name>
		<servlet-class>cn.wang.web.controller.ClientServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PayServlet</servlet-name>
		<servlet-class>cn.wang.web.controller.PayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ResponseServlet</servlet-name>
		<servlet-class>cn.wang.web.controller.ResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PrivilegeServlet</servlet-name>
		<servlet-class>cn.wang.web.controller.PrivilegeServlet</servlet-class>
	</servlet>





	<servlet-mapping>
		<servlet-name>ManageServlet</servlet-name>
		<url-pattern>/manage/ManageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientServlet</servlet-name>
		<url-pattern>/client/ClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayServlet</servlet-name>
		<url-pattern>/servlet/PayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponseServlet</servlet-name>
		<url-pattern>/servlet/ResponseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrivilegeServlet</servlet-name>
		<url-pattern>/privilege/PrivilegeServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>