<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				            http://www.springframework.org/schema/beans/spring-beans.xsd
				            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
				            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
				            http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<jaxws:client id="mobileClient"
		address="http://ws.webxml.com.cn/WebServices/MobileCodeWS.asmx"
		serviceClass="cn.com.webxml.MobileCodeWSSoap">
	</jaxws:client>

	<bean id="mobileService" class="com.wang.ws.mobile.service.MobileServiceImpl">
		<property name="mobileClient">
			<ref bean="mobileClient" />
		</property>
	</bean>

	<jaxws:server address="/mobile"
		serviceClass="com.wang.ws.mobile.service.MobileService">
		<jaxws:serviceBean>
			<ref bean="mobileService" />
		</jaxws:serviceBean>
	</jaxws:server>
</beans>