<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="personDao" class="cn.wang.spring.xml.transaction.PersonDaoImpl"></bean>
	<bean id="transaction" class="cn.wang.spring.xml.transaction.Transaction"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* cn.wang.spring.xml.transaction.PersonDaoImpl.*(..))" id="perform"/>
		<aop:aspect ref="transaction">
<!-- 			<aop:before method="beginTransaction" pointcut-ref="perform"/> -->
<!-- 			<aop:after-returning method="commit" pointcut-ref="perform" returning="val"/> -->
			<aop:after method="finallyMethod" pointcut-ref="perform"/>
			<aop:after-throwing method="throwingMethod" pointcut-ref="perform" throwing="throwable"/>
			<aop:around method="aroundMethod" pointcut-ref="perform"/>
		</aop:aspect>
	</aop:config>
</beans>