<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>day18</display-name>

	<!-- <filter> <filter-name>FilterDemo1</filter-name> <filter-class>cn.wang.web.filter.FilterDemo1</filter-class> 
		</filter> <filter-mapping> <filter-name>FilterDemo1</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> <filter> <filter-name>FilterDemo2</filter-name> <filter-class>cn.wang.web.filter.FilterDemo2</filter-class> 
		</filter> <filter-mapping> <filter-name>FilterDemo2</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> <filter> <filter-name>FilterDemo3</filter-name> <filter-class>cn.wang.web.filter.FilterDemo3</filter-class> 
		<init-param> <param-name>xxx</param-name> <param-value>yyy</param-value> 
		</init-param> </filter> <filter-mapping> <filter-name>FilterDemo3</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->
	<filter>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>cn.wang.web.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>cn.wang.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>cn.wang.web.filter.NoCacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>cn.wang.web.filter.ExpiresFilter</filter-class>

		<init-param>
			<param-name>css</param-name>
			<param-value>4</param-value>
		</init-param>

		<init-param>
			<param-name>jpg</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>bmp</param-name>
			<param-value>1</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>*.bmp</url-pattern>
	</filter-mapping>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ServletDemo1</servlet-name>
		<servlet-class>cn.wang.web.servlet.ServletDemo1</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.wang.web.servlet.LoginServlet</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>ServletDemo1</servlet-name>
		<url-pattern>/servlet/ServletDemo1</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>