<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean name="businessService" class="cn.wang.service.impl.BusinessServiceImpl"
		scope="prototype">
		<property name="dao" ref="someDao"></property>
	</bean>
	<bean name="someDao" class="cn.wang.dao.impl.SomeDaoImpl"></bean>
	<bean name="demo1Action" class="cn.wang.action.Demo1Action" scope="prototype">
		<property name="businessService" ref="businessService"></property>
	</bean>
</beans>