<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">



	<bean id="person" class="cn.wang.spring.extend.Person">
		<property name="name" value="aaa"></property>
	</bean>
	<bean id="student" class="cn.wang.spring.extend.Student">
	<property name="name" value="sdf"></property>
	</bean>
</beans>